# Start docker desktop
# Maybe is necessary install docker compose using the command: docker-compose pull
# Run using command (this option makes terminal blocked): docker-compose up db 
# Run using command (this option makes terminal free): docker-compose up -d

version: '3.6'

services:
  db:
    image: postgres
    container_name: postgres
    environment:
      POSTGRES_PASSWORD: "pg_adm123"
      POSTGRES_USER: "postgres"
      POSTGRES_DB: "postgres"
    ports:
      - "5432:5432"
    volumes:
      - ./sql/address_create.sql:/docker-entrypoint-initdb.d/01-address_create.sql
      - ./sql/patient_create.sql:/docker-entrypoint-initdb.d/02-patient_create.sql
      - ./sql/patient_address_create.sql:/docker-entrypoint-initdb.d/03-patient_address_create.sql
      - ./sql/condition_create.sql:/docker-entrypoint-initdb.d/04-condition_create.sql
      - ./sql/patient_health_create.sql:/docker-entrypoint-initdb.d/05-patient_health_create.sql
      - ./sql/patient_health_conditions_create.sql:/docker-entrypoint-initdb.d/06-patient_health_conditions_create.sql
      - ./sql/pain_location_create.sql:/docker-entrypoint-initdb.d/07-pain_location_create.sql
      - ./sql/pain_intensity_create.sql:/docker-entrypoint-initdb.d/08-pain_intensity_create.sql
      - ./sql/symptom_duration_create.sql:/docker-entrypoint-initdb.d/09-symptom_duration_create.sql
      - ./sql/symptom_create.sql:/docker-entrypoint-initdb.d/10-symptom_create.sql
      - ./sql/symptom_durations_create.sql:/docker-entrypoint-initdb.d/11-symptom_durations_create.sql
      - ./sql/symptom_locations_create.sql:/docker-entrypoint-initdb.d/12-symptom_locations_create.sql
      - ./sql/symptom_intensities_create.sql:/docker-entrypoint-initdb.d/13-symptom_intensities_create.sql
      - ./sql/questionnaire_create.sql:/docker-entrypoint-initdb.d/14-questionnaire_create.sql
      - ./sql/questionnaire_item_create.sql:/docker-entrypoint-initdb.d/15-questionnaire_item_create.sql
      - ./sql/questionnaire_items_create.sql:/docker-entrypoint-initdb.d/16-questionnaire_items_create.sql
      - ./sql/emergency_score_create.sql:/docker-entrypoint-initdb.d/17-emergency_score_create.sql
      - ./sql/address_insert.sql:/docker-entrypoint-initdb.d/18-address_insert.sql
      - ./sql/patient_insert.sql:/docker-entrypoint-initdb.d/19-patient_insert.sql
      - ./sql/patient_address_insert.sql:/docker-entrypoint-initdb.d/20-patient_address_insert.sql
      - ./sql/condition_insert.sql:/docker-entrypoint-initdb.d/21-condition_insert.sql
      - ./sql/patient_health_insert.sql:/docker-entrypoint-initdb.d/22-patient_health_insert.sql
      - ./sql/patient_health_conditions_insert.sql:/docker-entrypoint-initdb.d/23-patient_health_conditions_insert.sql
      - ./sql/pain_location_insert.sql:/docker-entrypoint-initdb.d/24-pain_location_insert.sql
      - ./sql/pain_intensity_insert.sql:/docker-entrypoint-initdb.d/25-pain_intensity_insert.sql
      - ./sql/symptom_duration_insert.sql:/docker-entrypoint-initdb.d/26-symptom_duration_insert.sql
      - ./sql/symptom_insert.sql:/docker-entrypoint-initdb.d/27-symptom_insert.sql
      - ./sql/emergency_score_insert.sql:/docker-entrypoint-initdb.d/28-emergency_score_insert.sql
  golden-hour-backend:
    container_name: gh-backend
    image: springboot-postgresq-backend
    build: ./backend
    ports:
      - "8085:8085"
    depends_on:
      - db
    links:
      - db:database
  
