server:
    port: 8080
    servlet:
        context-path: /goldenhour

## default connection pool
spring:
    profiles:
        active: ${ACTIVE_PROFILE:dev}
    jpa:
        hibernate:
            ddl-auto: create # When you launch the application for the first time - switch "none" at "create"
            show-sql: true
            database: postgresql
            database-platform: org.hibernate.dialect.PostgreSQLDialect
            open-in-view: false
            generate-ddl: false
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect